:root {
  --width: 5rem;
}

.cell {
  flex-basis: var(--width);
  flex-grow: 0;
  width: var(--width);
  height: var(--width);

  padding: 0.25rem;
  box-sizing: border-box;
}

.player-token {
  display: block;
  width: 100%;
  height: 100%;

  font-weight: 700;
  font-size: 2rem;
  line-height: calc(var(--width, 2rem) - 0.5rem);
  vertical-align: middle;
  text-align: center;

  border: 1px solid #acacac;
  border-radius: 50%;
}

.media-object {
  --profile-icon-width: 3rem;

  width: var(--profile-icon-width, 3rem);
  height: var(--profile-icon-width, 3rem);
  border-radius: 50%;

  background-color: white;
  border: 1px solid #aaa;

  line-height: var(--profile-icon-width, 3rem);
  text-align: center;
}

.board {
  width: fit-content;
}
